{{! sidebar }}

<div class="gxx_sidebar">
    {{> custom/owner}}
    {{#get "posts" limit="5" filter="image:-null" order="created_at desc"}}
    {{#if posts}}
    <div class="gxx_sidebar_t"><span>图片</span><i></i></div>
    <div class="gxx_sidebar_i">
        <div class="gxx_sidebar_i_img">
            {{#foreach posts}}
                <a href="/{{slug}}/">
                    <div class="gxx_sidebar_i_imgi" style="background-image:url('{{image}}')" alt="{{title}}"></div>
                    <div class="gxx_sidebar_i_imgt">{{title}}</div>
                    <div class="gxx_sidebar_i_imgd"><i class="gxxicon-time"></i> {{date format="YYYY年MM月DD日"}}</div>
                </a>
            {{/foreach}}
        </div>
    </div>
    {{/if}}
    {{/get}}
    {{#get "tags" limit="30" filter="name:-'笔记'+name:-'作品'+name:-'杂货'" include="count.posts" order="count.posts desc"}}
    {{#if tags}}
    <div class="gxx_sidebar_t"><span>标签</span><i></i></div>
    <div class="gxx_sidebar_i">
        <div class="gxx_sidebar_i_b" id="GxxSidebarTags">
            {{#foreach tags}}
                <a href="/tag/{{slug}}/">{{name}} <span>{{count.posts}}</span></a>
            {{/foreach}}
        </div>
    </div>
    <div class="gxx_sidebar_more"><i class="gxxicon-top"></i></div>
    {{/if}}
    {{/get}}
    <div class="gxx_sidebar_i" id="TbkContainer">
        <script type="text/javascript">
            document.write('<a style="display:none!important" id="tanx-a-mm_12460915_3472134_62222205"></a>');
            tanx_s = document.createElement("script");
            tanx_s.type = "text/javascript";
            tanx_s.charset = "gbk";
            tanx_s.id = "tanx-s-mm_12460915_3472134_62222205";
            tanx_s.async = true;
            tanx_s.src = "http://p.tanx.com/ex?i=mm_12460915_3472134_62222205";
            tanx_h = document.getElementsByTagName("head")[0];
            if(tanx_h)tanx_h.insertBefore(tanx_s,tanx_h.firstChild);
        </script>
    </div>
</div>