<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">

    {{> custom/meta}}

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poiret+One|Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.min.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

    <script type="text/javascript">
        {{> custom/config}}
    </script>
</head>
<body class="{{body_class}}">
    <div class="gxx_header">
        <div class="gxx_header_con clearfix">
            {{> custom/sitetitle}}
            <div class="gxx_search" id="bdcs">
                <form action="http://www.google.com/search" method="get" target="_blank">
                    <input type="search" name="q" value="" placeholder="搜索" />
                    <input type="hidden" name="ie" value="GB2312" />
                    <input type="hidden" name="oe" value="GB2312" />
                    <input type="hidden" name="hl" value="zh-CN" />
                    <input type="hidden" name="domains" value="http://blog.gxxsite.com" />
                    <input type="hidden" name="sitesearch" value="blog.gxxsite.com" />
                    <input type="submit" class="gxxicon" value="&#xe601;" />
                </form>
            </div>
            {{navigation}}
        </div>
    </div>

    <div class="gxx_frame{{#is "post"}} gxx_hidesidebar{{/is}}">
        <div class="gxx_frame_con clearfix">
            {{> sidebar}}
            <div class="gxx_wrapper gxx_pjax">
                <!--pjax-start-->
                {{! Everything else gets inserted here }}
                {{{body}}}
                <!--pjax-end-->
            </div>
        </div>
    </div>
    <footer class="gxx_footer">
        <div class="gxx_footer_con clearfix">
            <section class="gxx_copyright">
            <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            <section class="gxx_poweredby">Powered by <a href="https://ghost.org" target="_blank">Ghost</a>. Theme by <a href="https://github.com/coolhihi/gxxghost" target="_blank">GxxGhost</a></section>
        </div>
    </footer>
    <div class="gxx_floatlayer">
        <a class="gxx_gotopbtn">
            <i class="gxxicon-top"></i>
        </a>
    </div>
    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="{{asset "js/jquery.min.js"}}"></script>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The jQuery plugin for smooth scroll }}
    <script type="text/javascript" src="{{asset "js/jquery.scrollTo.min.js"}}"></script>

    {{! The plugin can highlight the code }}
    <script type="text/javascript" src="{{asset "js/highlight.min.js"}}"></script>

    {{! Pjax }}
    <script type="text/javascript" src="{{asset "js/pjax.min.js"}}"></script>

    {{! Disqus comment counter }}
    

    {{! The main JavaScript file for GxxGhost }}
    <script type="text/javascript" src="{{asset "js/index.min.js"}}"></script>
</body>
</html>
