<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">

    {{> custom/meta}}

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.min.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

    <script type="text/javascript">
        {{> custom/config}}
    </script>
</head>
<body class="{{body_class}}">
    <div class="gxx_header">
        <div class="gxx_header_con clearfix">
            {{> custom/sitetitle}}
            <div class="gxx_search" id="bdcs">
                <form id="bdcs-search-form" action="http://zhannei.baidu.com/cse/search" method="get" target="_blank">
                    <input name="s" type="hidden" id="bdcs-search-form-sid" value="">
                    <input type="search" name="q" class="bdcs-search-form-input" id="bdcs-search-form-input" value="" placeholder="搜索" />
                    <input name="entry" type="hidden" value="1">
                    <input type="submit" class="gxxicon bdcs-search-form-submit" id="bdcs-search-form-submit" value="&#xe601;" />
                </form>
            </div>
            {{navigation}}
        </div>
    </div>

    <div class="gxx_frame{{#is "post"}} gxx_hidesidebar{{/is}}">
        <div class="gxx_frame_con clearfix">
            {{> sidebar}}
            <div class="gxx_wrapper gxx_pjax">
                <!--pjax-start-->
                {{! Everything else gets inserted here }}
                {{{body}}}
                <!--pjax-end-->
            </div>
        </div>
    </div>
    <footer class="gxx_footer">
        <div class="gxx_footer_con clearfix">
            <section class="gxx_copyright">
            <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            <section class="gxx_poweredby">Powered by <a href="https://ghost.org">Ghost</a>. Theme by <a href="http://gxxsite.com">COoL</a><span class="gxx_bdanly">
                {{>custom/hm}}
            </span></section>
        </div>
    </footer>
    <div class="gxx_floatlayer">
        <a class="gxx_gotopbtn">
            <i class="gxxicon-top"></i>
        </a>
    </div>
    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="http://libs.useso.com/js/jquery/1.11.1-rc2/jquery.min.js"></script>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The jQuery plugin for smooth scroll }}
    <script type="text/javascript" src="{{asset "js/jquery.scrollTo.min.js"}}"></script>

    {{! The plugin can highlight the code }}
    <script type="text/javascript" src="{{asset "js/highlight.min.js"}}"></script>

    {{! Pjax }}
    <script type="text/javascript" src="{{asset "js/pjax.min.js"}}"></script>

    {{! Disqus comment counter }}
    

    {{! The main JavaScript file for GxxGhost }}
    <script type="text/javascript" src="{{asset "js/index.min.js"}}"></script>
</body>
</html>
