{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
<main class="content" role="main">
    <div class="{{post_class}}">
        <div class="post-header">
            {{{title}}}
        </div>
        <div class="post-meta">
            <i class="gxxicon-tag"></i>
            {{tags prefix=" "}}
            <time class="post-date" datetime="{{date format='YYYY年MM月DD日'}}"><i class="gxxicon-time"></i> {{date format="YYYY年MM月DD日"}}</time>
            <div class="post-comment"><i class="gxxicon-comment"></i> <a href="{{url}}#disqus_thread"></a></div>
        </div>

        <div class="post-content">
            {{content}}
        </div>

        <footer class="post-footer">
            <input type="hidden" id="GxxPostUrl" value="{{url}}" />
            <input type="hidden" id="GxxPostId" value="ghost-{{id}}" />
            <div id="disqus_thread"></div>
        </footer>
    </div>
</main>
<!--
<aside class="pagination gxx_pagination">
    {{#prev_post}}
    <a class="newer-posts" href="{{url}}" title="{{title}}"">← 上一篇</a>
    {{/prev_post}}
    {{#next_post}}
    <a class="older-posts" href="{{url}}" title="{{title}}">下一篇 →</a>
    {{/next_post}}
</aside>
-->
{{/post}}